section {
  margin-top: 3rem;
  display: flex;
}

.contactButtons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.form {
  width: 50%;
}

.sideImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    margin: auto;
    width: 90%;
  }
}

.mainForm {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1rem;

  & input,
  textarea {
    width: 100%;
    border: none;
    font-size: 1.3rem;
    color: rgb(30, 30, 30);
  }

  & input,
  textarea:focus {
    border: none;
    outline: none;
  }
}

textarea {
  resize: none;
}

.inputFields {
  border: 1px solid black;
  position: relative;
  padding: 1.2rem;

  & label {
    position: absolute;
    background-color: white;
    padding-inline: 0.7rem;
    top: -0.9rem;
    left: 2rem;
  }
}
